/*------------------------------------*\
  /* # SITE BRANDING TEXT */
/*------------------------------------*/

.site-header .site-branding-text {
  /* needs to be only on the site header so it is always above an image */
  mix-blend-mode: screen;
}

.single .site-header .site-branding-text {
  /* this is a ridiculous selector but its needed as a reset */
  mix-blend-mode: initial;
}

.article-date {
  grid-row: 2;
  grid-column: 2;

  @media (min-width: 40rem) {
    grid-column: 2 / 6;
  }
}

.article-content {
  grid-column: 2;
/* TODO: media variables are sass
  @media (min-width: $stork) {
    grid-column: 2 / 6;
  } */
}

.article-content-specific {
  grid-column: 2;
  margin-bottom: 1rem;
/* TODO: media variables are sass
  @media (min-width: $stork) {
    grid-column: 2 / 6;
    margin-bottom: 1rem * 3;
  } */

  iframe {
    max-width: 100%;
    /* this should be looked at I think it can be done better */
    height: 100%;

/*
TODO: media variables are sass
@media (min-width: $stork) {
      min-height: 100%;
    } */
  }
}

.primary-menu a {
  text-decoration: none;
}

.primary-menu .category {
  margin-bottom: 0.5em;
}

.primary-menu .qualifier {
  /* TODO */
  font-family: "Monaco", monospace;
  font-size: 1rem;
  font-weight: 400;
  margin-left: 1rem;

  /* depending on the flex direction if I need a margin or not */
/*
TODO: media variables are sass
@media (min-width: $stork) {
    margin-left: 0;
  } */
}
