/* Search */

.searchform [type="text"] {
  border: 0.1em solid var(--tin-soldier);
  border-right: none;
  /* TODO: type scale */
  font-size: 2em;
  font-weight: bold;
  /* TODO padding: 1rem/2; // fit to the button */
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;

  /* max-width wasn't fixing the problem */
  width: 100%;
/*
TODO: media variables are sass
@media (min-width: $stork) {
    width: auto;
  } */
}

.searchform [type="text"]:focus {
  outline: 0.1em solid var(--cherry);
}

/* 
TODO: @extend was sass
.searchform [type="submit"],
#commentform [type="submit"] {
  @extend button;
} */
