/* Search */

.searchform [type="text"] {
  border: 2px solid var(--tin-soldier);
  border-right: none;
  /* TODO: type scale */
  font-size: var(--denali);
  font-weight: bold;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;

  /* max-width wasn't fixing the problem */
  width: 100%;

  @media (min-width: 40rem) {
    width: auto;
  }
}

.searchform [type="text"]:focus {
  outline: 2px solid var(--cherry-100);
}

/* 
TODO: @extend was sass
.searchform [type="submit"],
#commentform [type="submit"] {
  @extend button;
} */
