/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 Normalize
2.0 Accessibility
3.0 Alignments
4.0 Clearings
5.0 Typography
6.0 Forms
7.0 Formatting
8.0 Lists
9.0 Tables
10.0 Links
11.0 Featured Image Hover
12.0 Navigation
13.0 Layout
  13.1 Header
  13.2 Front Page
  13.3 Regular Content
  13.4 Posts
  13.5 Pages
  13.5.1 Photography Template
  13.6 Footer
14.0 Comments
15.0 Widgets
16.0 Media
  16.1 Galleries
17.0 Customizer
18.0 SVGs Fallbacks
19.0 Media Queries
20.0 Print
--------------------------------------------------------------*/

/*--------------------------------------------------------------
1.0 Normalize
Styles based on Normalize v5.0.0 @link https://github.com/necolas/normalize.css
--------------------------------------------------------------*/

svg:not(:root) {
  /* thats a pretty strange selector is it right? */
  overflow: hidden;
}

/*--------------------------------------------------------------
2.0 Accessibility
--------------------------------------------------------------*/

/* Text meant only for screen readers. These are the wordpress twentyseventeen option for the default places its needed */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
  /* would I just prefer to leave screen readers to do whatever they want and not mess with them? */
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  /* this should be changed to something like the theme */
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 700;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000; /* Above WP toolbar. */
}

/*--------------------------------------------------------------
3.0 Alignments
--------------------------------------------------------------*/

.alignleft {
  text-align: left;
  margin-right: 1rem;
}

.alignright {
  text-align: right;
  margin-left: 1rem;
}

.aligncenter {
  text-align: center;
}

.alignleft {
  float: left;
}

img.alignleft,
.alignleft img {
  /* what is the !important over writting? */
  margin-right: 1rem !important;
  /* what is the !important over writting? */
  margin-left: 0 !important;
}

.alignright {
  float: right;
}

img.alignright,
.alignright img {
  margin-left: 1rem;
  /* what is the !important over writting? */
  margin-right: 0 !important;
}

/*--------------------------------------------------------------
4.0 Clearings
--------------------------------------------------------------*/

/*--------------------------------------------------------------
5.0 Typography
--------------------------------------------------------------*/
p {
/*
TODO: media variables are sass
@media (min-width: $pelican) {
    text-align: justify;
  } */
}

::selection {
  background: var(--cherry); /* WebKit/Blink Browsers */
}

a::selection {
  color: var(--brilliance);
}

blockquote {
  margin: 0;
  color: var(--black-metal);
  @media (prefers-color-scheme: dark) {
    color: var(--brilliance);
  }

  /* type scale? */
  font-size: 2rem;
  font-weight: bold;
  /* ? I think this is a browser override? */
  border-left: none;
}

blockquote:before {
  /* quotation mark */
  content: "\201C ";
  font-family: var(--body-font-family);
  font-weight: bold;
  /* TODO hack this should be an em on the type scale */
  font-size: 32px;
  /* why so small? */
  margin-right: 0.5rem;
}

blockquote p {
  /* type scale? */
  font-size: 1.125em;
}

cite {
  color: gray;
  margin-left: 1rem;
  margin-bottom: 1rem * 1.5;
  /* I was having problems on small screens citing urls */
  word-break: break-all;
/* TODO: media variables are sass
  @media (min-width: $stork) {
    word-break: normal; // revert back when the small problem doesnt exsist
  } */
}

.article-content .wp-block-code {
  /* stay at 100% */
  white-space: break-spaces;
}

.is-style-box-title,
.box-title,
.box-title a {
  border: 0.25em solid var(--black-metal);
  padding: 1rem;
}

.box-title a:hover {
  /* is this different to a regular hover? */
  text-decoration: line-through;
}

.pagination .prev,
.pagination .next {
  font-weight: bold;
}

.nav-previous,
.nav-next {
  font-weight: bold;
}

.post-navigation h2 {
  text-transform: capitalize;
}

.speechbubble {
  font-weight: bold;
/*
TODO: media variables are sass
@media (min-width: $stork) {
    writing-mode: vertical-rl;
    margin-top: 1rem;
  } */
}

.page-title {
  /* type scale? */
  font-size: 2em;
  justify-self: start;
  word-wrap: break-word;

/*
TODO: media variables are sass
@media (min-width: $stork) {
    font-size: 3em;
  } */
}

/*--------------------------------------------------------------
7.0 Formatting
--------------------------------------------------------------*/

body {
  /* I think I can do this better just having everything sit inside a little */
  border: 0.25em solid var(--brilliance);

/*
TODO: media variables are sass
@media (min-width: $stork) {
    border: 0.5em solid var(--brilliance);
  } */

/*
TODO: media variables are sass
@media (min-width: $pelican) {
    border: 1em solid var(--brilliance);
  } */

  @media (prefers-color-scheme: dark) {
    background: var(--black-metal);
    color: var(--brilliance);
    border-color: var(--black-metal);
    margin: 0;
  }
}

.background-clean {
  background: var(--brilliance);
  @media (prefers-color-scheme: dark) {
    background: var(--black-metal);
  }
}

.background-primary {
  background: var(--cherry);
}

.background-dirty {
  background: var(--kingly-cloud);

  @media (prefers-color-scheme: dark) {
    /* TODO */
    background: #2c2c2c;
  }
}

.background-double--dark {
  /* TODO */
  background: #4a4a4a;
  border-bottom: 2px solid var(--black-metal);
  color: var(--brilliance);
}

.single-code {
  /* TODO: @extend was sass */
  /* @extend .background-double--dark; */
  padding: 1rem;
}

table {
  /* do I have any tables? */
  width: 100%;
}

.overlay {
  /* hack where is this? */
  background: var(--cherry);
  z-index: 1;
  /* this could be better */
  grid-column: 11 / span 3;
  grid-row: 1 / span 4;
/* TODO: media variables are sass
  @media (min-width: $stork) {
    grid-column: 11 / span 3;
    grid-row: 1 / span 4;
  } */
}

.page-title-2 {
  /* naming needs work */
  display: none;

/*
TODO: media variables are sass
@media (min-width: $stork) {
    display: block;
    color: var(--brilliance);
    writing-mode: vertical-rl;
    grid-column: 11 / span 2;
    grid-row: 1 / span 4;
    z-index: 99 !important; // what is this?
  } */
}

/*--------------------------------------------------------------
8.0 Lists
--------------------------------------------------------------*/

.menu li {
  margin-right: 1rem;
}

.menu li:last-child {
  margin-right: 0;
}

/*--------------------------------------------------------------
9.0 Tables
--------------------------------------------------------------*/

/*--------------------------------------------------------------
10.0 Links
--------------------------------------------------------------*/

a {
  color: var(--cherry);
}

a:hover {
  text-decoration: line-through;
  color: hsl(var(--cherry__base), var(--dull));
}

.form-submit {
  /* why important? */
  text-align: left !important;
}

button,
.button {
  /* [type="submit"] removed for material */
  margin-bottom: 1rem;
  background: var(--cherry);
  border: none;
  color: var(--brilliance);
  font-weight: bold;
  /* type scale? */
  font-size: 1.5em;
  transition: var(--global-transition);
  display: inline-block;

  /* browser reset */
  -webkit-appearance: none;

/*
TODO: media variables are sass
@media (min-width: $stork) {
    font-size: 2em; // type scale?
  } */
}

a.button {
  /* I dont love links as button they should be seperate things but for now */
  text-decoration: none;
}

button:hover,
.button:hover {
  background: hsl(var(--cherry__base), var(--dull));
}

.navigation-top a:hover {
  text-decoration: line-through;
}

.site-title {
  color: var(--brilliance);
}

.page-title a {
  color: var(--brilliance);
}

.article-footer a,
.quote-content p a,
.quote-footer a {
  /* why removing the indication of a link? */
  text-decoration: none;
  color: var(--cherry);
}

.article-footer a:hover,
.quote-content p a:hover,
.quote-footer a:hover {
  text-decoration: line-through;
}

.breacdcrumbs {
  color: gray;
}

.breadcrumbs a {
  /* TODO dark-gray doesn't pass contrast checks but I didn't want to go all the way to black */
  color: #575757;
  text-decoration: line-through;

  @media (prefers-color-scheme: dark) {
    color: var(--kingly-cloud);
  }
}

.breadcrumbs a:hover {
  color: var(--cherry);
  text-decoration: underline;
}

.pagination a {
  color: var(--cherry);
  text-decoration: underline;
}

.pagination a:hover,
.pagination .current {
  text-decoration: line-through;
  color: var(--cherry);
  background: none;
}

.pagination .nav-links .next,
.pagination .nav-links .prev {
  border-bottom: none;
  /* would this have a box shadow? */
  box-shadow: none;
  color: var(--black-metal);
  @media (prefers-color-scheme: dark) {
    color: var(--brilliance);
  }
}

.pagination .nav-links .next,
.pagination .nav-links .prev {
  text-decoration: underline;
}

.pagination .nav-links .next:hover,
.pagination .nav-links .prev:hover {
  text-decoration: line-through;
}

.footer_copyright a,
.footer_nav a,
.footer_contact a {
  font-weight: bold;
}

.article-tags a {
  /*
  TODO: @extend was sass
  @extend button; */
  margin-bottom: 0;

  @media (min-width: $stork) {
    text-align: right;
  }
}

/*--------------------------------------------------------------
12.0 Navigation
--------------------------------------------------------------*/

.navigation-top ul {
  padding-left: 0;
  /* TODO: media variables are sass
  @media (min-width: $stork) {
    padding-left: 1rem;
  } */
  /* why am I closing these out rather than just embedding them */
}

.navigation-top ul li {
  /* type scale? */
  font-size: 1.5em;
  font-weight: bold;
  /* this has to be a padding otherwise you loose the hr on scroll between */
  padding-top: 1rem;
  margin-bottom: 0;

  /* this seems like its doubling down on .menu but wasa needed */
  list-style: none;
/*
TODO: media variables are sass
@media (min-width: $stork) {
    font-size: 2.25em; // type scale?
  } */
}

.navigation-top ul li a {
  padding: 0;
}

.navigation-top ul li a {
  /* this might not be for all but it is for now */
  display: flex;

/*
TODO: media variables are sass
@media (min-width: $stork) {
    flex-direction: column;
  } */
}

.single .navigation-top ul {
  margin: 0;
}

.category-sub li {
  text-align: center;
}

.category-sub li {

  & a {
    font-weight: bold;
    background: var(--cherry);
    color: var(--brilliance);
    padding: 1rem;
    display: block;
    text-decoration: none;
  }

  & a:hover {
    background: hsl(var(--cherry__base), var(--dull));
    text-decoration: line-through;
  }
}

.footer_menu li {
  & a {
    background: var(--cherry);
    color: var(--brilliance);
    padding: 1rem;
    text-decoration: none;
    /* fill the box */
    display: block;
    transition: var(--global-transition);
    font-weight: bold;
  }

  & a:hover {
    text-decoration: line-through;
    background: hsl(var(--cherry__base), var(--dull));
  }
}

/*--------------------------------------------------------------
13.0 Layout
--------------------------------------------------------------*/

body {
  /* make sure the page is always filled */
  min-height: 100vh;
}

img,
video,
figure {
  height: auto;
  max-width: 100%;
}

.img-100,
.img-100 img {
  width: 100%;
}

.box {
  /* I really want to get rid of this what is it and where is it used? */
  overflow: hidden;
  z-index: 10;
  width: 100%;
}

/*--------------------------------------------------------------
13.1 Header
--------------------------------------------------------------*/

.header-logo {
  fill: var(--cherry);
}

.header-logo:hover {
  fill: hsl(var(--cherry__base), var(--dull));
}

.subheader {
  /* type scale? */
  font-size: 2em;
  color: gray;
  /* why so slender? or just be a zero */
  margin: 0.1em 0;
}

.site-branding-text {
  writing-mode: vertical-rl;
  justify-self: center;
  /* adding this incase we dont have images the text is still visible // true black not var(--black-metal) for the screen blend to not show anything */
  background: black;

  & a {
    color: var(--brilliance);
    padding: 1rem;
    /* am I sure this is neccessary */
    display: inline-block;
  }
}

.single .site-branding-text {
  /* no longer over the image */
  writing-mode: initial;

  & a {
    padding: initial;
    color: var(--black-metal);
    /* I have the hero underneath which is kinda taking care of this */
    text-decoration: none;
    @media (prefers-color-scheme: dark) {
      color: var(--brilliance);
    }
  }
}

.overlaying-image {
  /* does this need a 100% or is this a default? */
  filter: grayscale(100%);
  mix-blend-mode: multiply;
  @media (prefers-color-scheme: dark) {
    mix-blend-mode: screen;
  }
  /* why this number? */
  z-index: 14;
}

.custom-header-media img,
.custom-header-media picture {
  width: 100%;
}

/*--------------------------------------------------------------
13.2 Front Page
--------------------------------------------------------------*/

.front-page-titles {
  text-align: center;
  font-weight: bold;
}

.fp-box {
  /* front page box these are the red areas behind clicks code and camera on the split levels */
  background: var(--cherry);
  color: var(--brilliance);
}
/*--------------------------------------------------------------
13.3 Regular Content
--------------------------------------------------------------*/

.single .site-title {
  color: var(--black-metal);
}

#comments {
  /* why important? */
  padding: 0 !important;
}

.cat-title {
  /* wrong place */
  margin-top: 1rem * 2;
  /* type scale? */
  font-size: 2em;

/*
TODO: media variables are sass
@media (min-width: $stork) {
    font-size: 3em; // type scale?
  } */
}

/*--------------------------------------------------------------
13.4 Posts
--------------------------------------------------------------*/

.featured-subheader a {
  color: gray;
}

.featured-category-title {
  /* why is this and padding compressed? */
  margin: 0.5em auto;
  /* type scale? */
  font-size: 2em;
  /* global? */
  border: 0.2em solid var(--cherry);
  padding: 0.5em;
  word-wrap: break-word;
  text-align: center;
/* TODO: media variables are sass
  @media (min-width: $stork) {
    font-size: 6em; // this is really large?
  } */
}

.featured-category-title a:hover {
  text-decoration: line-through;
}

.category-titles a {
  color: var(--cherry);
}

.category-titles a:hover {
  text-decoration: line-through;
}

/*--------------------------------------------------------------
16.0 Media
--------------------------------------------------------------*/

figure {
  margin: 0;
}

/* SVG Icons base styles */

svg {
  fill: currentColor;
  /* thats pretty small? */
  width: 1em;
}

.icon {
  display: inline-block;
  fill: currentColor;
  height: 1em;
  /* what was it before? */
  position: relative; /* Align more nicely with capital letters */
  top: -0.0625em;
  /* doesnt this negate what comes before? */
  vertical-align: middle;
  width: 1em;
}

.wp-caption,
.gallery-caption {
  color: gray;
  font-style: italic;
  margin-bottom: 1.5em;
}

.wp-caption .wp-caption-text {
  margin: 1rem 0;
}

.cfimg {
  display: grid;
}
.cfimg picture {
  grid-column: 1;
  grid-row: 1;
  animation-name: FadeInOut;
  animation-duration: 20s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  z-index: 1;
}

/* http://css3.bradshawenterprises.com/cfimg/ */
/* Just do the link I dont understand the math
For "n" images You must define:
a=presentation time for one image
b=duration for cross fading
Total animation-duration is of course t=(a+b)*n

animation-delay = t/n or = a+b

Percentage for keyframes:

    0%
    a/t*100%
    (a+b)/t*100% = 1/n*100%
    100%-(b/t*100%)
    100%

css slidesshow in Rileys google drive can do all the math

*/
@keyframes FadeInOut {
  0% {
    opacity: 1;
  }
  15% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
  95% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.cfimg picture:nth-of-type(1) {
  animation-delay: 16s;
}
.cfimg picture:nth-of-type(2) {
  animation-delay: 12s;
}
.cfimg picture:nth-of-type(3) {
  animation-delay: 8s;
}
.cfimg picture:nth-of-type(4) {
  animation-delay: 4s;
}
.cfimg picture:nth-of-type(5) {
  animation-delay: 0;
}

/*--------------------------------------------------------------
16.1 Galleries
--------------------------------------------------------------*/

.gallery-item {
  /* am I using any galleries and I presume these have changed with gutenberg? */
  display: inline-block;
  text-align: left;
  vertical-align: top;
  margin: 0 0 1.5em;
  padding: 0 1em 0 0;
  width: 50%;

/*
TODO: media variables are sass
@media (min-width: $stork) {
    max-width: 25%;
  } */
}

.gallery-columns-1 .gallery-item {
  width: 100%;
}

.gallery-columns-2 .gallery-item {
  max-width: 50%;
}

.gallery-item a,
.gallery-item a:hover,
.gallery-item a:focus,
.widget-area .gallery-item a,
.widget-area .gallery-item a:hover,
.widget-area .gallery-item a:focus {
  /* will sass do this for me? */
  -webkit-box-shadow: none;
  box-shadow: none;
  /* whats this overwritting? */
  background: none;
  display: inline-block;
  max-width: 100%;
}

.gallery-item a img {
  display: block;
  transition: -webkit-filter 0.2s ease-in;
  transition: filter 0.2s ease-in;
  /* what is this and will sass deal with the pre name? */
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.gallery-item a:hover img,
.gallery-item a:focus img {
  filter: opacity(60%);
}

.gallery-caption {
  display: block;
  text-align: left;
  padding: 0 1rem 0 0;
  margin-bottom: 0;
}

.gallery-columns-1 .gallery-item {
/*
TODO: media variables are sass
@media (min-width: $stork) {
    max-width: 100%;
  } */
}

.gallery-columns-2 .gallery-item {
/*
TODO: media variables are sass
@media (min-width: $stork) {
    max-width: 50%;
  } */
}

.gallery-columns-3 .gallery-item {
  @media (min-width: $stork) {
    max-width: 33.33%;
  }
}

.gallery-columns-4 .gallery-item {
/*
TODO: media variables are sass
@media (min-width: $stork) {
    max-width: 25%;
  } */
}

.gallery-caption {
  color: gray;
}

/*--------------------------------------------------------------
18.0 SVGs Fallbacks
--------------------------------------------------------------*/

.svg-fallback {
  /* clarify this? seems like its taken from something? */
  display: none;
}

.no-svg .svg-fallback {
  display: inline-block;
}

.no-svg .dropdown-toggle {
  padding: 0.5em 0 0;
  right: 0;
  text-align: center;
  width: 2em;
}

.no-svg .dropdown-toggle .svg-fallback.icon-angle-down {
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1;
  transform: rotate(180deg);
}

.no-svg .dropdown-toggle.toggled-on .svg-fallback.icon-angle-down {
  transform: rotate(0);
}

.no-svg .dropdown-toggle .svg-fallback.icon-angle-down:before {
  content: "\005E";
}

/* Social Menu fallbacks */

.no-svg .social-navigation a {
  background: transparent;
  color: #222;
  height: auto;
  width: auto;
}

/* Show screen reader text in some cases */

.no-svg .next.page-numbers .screen-reader-text,
.no-svg .prev.page-numbers .screen-reader-text,
.no-svg .social-navigation li a .screen-reader-text,
.no-svg .search-submit .screen-reader-text {
  clip: auto;
  font-size: 16px;
  font-size: 1rem;
  font-weight: 400;
  height: auto;
  position: relative !important; /* overrides previous !important styles */
  width: auto;
}
