/*------------------*/
/* #TYPOGRAPHY */
/*------------------*/

/*------------------*/
/* #BASES */
/*------------------*/

h2 {
  /* reset */
  margin-block-start: 0;
}

.riley {
  /* guess and check */
  font-size: 31.4vw;
  color: var(--cherry);
}

.bathurst {
  /* guess and check */
  font-size: 17vw;
  color: white;
  -webkit-text-stroke: 0.2rem var(--cherry);
}
