/* storybook was not pulling through the :root variables */

:root {


  --cherry: hsl(0, 75%, 50%);

  --pitch: 2%;
  --dark: 16%;
  --dull: 30%;
  --dim: 44%;
  --mid: 58%;
  --light: 72%;
  --bright: 86%;
  --brilliant: 98%;

  --black-metal: hsl(0, 0%, 2.5%);
  --black-out: hsl(0, 0%, 12.5%);
  --raven-black: hsl(0, 0%, 25%);
  --industrial-revolution: hsl(0, 0%, 37.5%);
  /* gray */
  --cold-grey: hsl(0, 0%, 62.5%);
  --tin-soldier: hsl(0, 0%, 75%);
  --kingly-cloud: hsl(0, 0%, 87.5%);
  --brilliance: hsl(0, 0%, 97.5%);
}

.colors {
  .palette {
    display: flex;

    .color {
      min-width: 5rem;
      min-height: 5rem;
      padding: 0.5rem;
    }
  }

  /* restart */
  .cherry {
    background-color: var(--cherry);
  }

  /* neutrals */
  .black-metal {
    background-color: var(--black-metal);
  }

  .black-out {
    background-color: var(--black-out);
  }

  .raven-black {
    background-color: var(--raven-black);
  }

  .industrial-revolution {
    background-color: var(--industrial-revolution);
  }

  .grey {
    background-color: grey
  }

  .cold-grey {
    background-color: var(--cold-grey);
  }

  .tin-soldier {
    background-color: var(--tin-soldier);
  }

  .kingly-cloud {
    background-color: var(--kingly-cloud);
  }

  .brilliance {
    background-color: var(--brilliance);
  }
}